
h1 {
	text-align: center;
	text-decoration: underline;
	color: white;
	background-color: black;

}
.textos {
	margin-left: 10%;
}
img {
	height: 200px;
	width: 200px;
	margin-left: 10%;
}
#cilindro {
background: gray;
border-radius: 5px;
width: 300px;
float: bottom;
margin-top: -1.5%;
margin-left: 15%;
}

form {
	margin-left: 10%;
}
body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
table {
background-image: url(a.jpg);
background-size: 100%;x
background-repeat: no-repeat;
}